In [118]:
import pandas as pd

In [119]:
ls Datasets/

games.csv  games_details.csv  players.csv  ranking.csv  teams.csv

In [142]:
df = pd.read_csv("Datasets/games_details.csv")
df2 = pd.read_csv("Datasets/games.csv")

In [143]:
df.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,40800405,1610612747,LAL,Los Angeles,2772,Trevor Ariza,F,NaN,41:29,5.0,...,1.0,4.0,5.0,1.0,2.0,0.0,3.0,3.0,15.0,12.0
1,40800405,1610612747,LAL,Los Angeles,2200,Pau Gasol,F,NaN,42:09,6.0,...,4.0,11.0,15.0,3.0,0.0,4.0,1.0,2.0,14.0,15.0
2,40800405,1610612747,LAL,Los Angeles,101115,Andrew Bynum,C,NaN,16:54,3.0,...,4.0,1.0,5.0,0.0,1.0,0.0,1.0,5.0,6.0,-6.0
3,40800405,1610612747,LAL,Los Angeles,977,Kobe Bryant,G,NaN,43:18,10.0,...,0.0,6.0,6.0,5.0,2.0,4.0,1.0,2.0,30.0,14.0
4,40800405,1610612747,LAL,Los Angeles,965,Derek Fisher,G,NaN,31:59,4.0,...,0.0,4.0,4.0,2.0,0.0,0.0,1.0,4.0,13.0,16.0

In [144]:
df.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS', 'PLUS_MINUS'],
      dtype='object')

### Dropping rows missing players stats

In [145]:
df.dropna(axis="rows", inplace=True)

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 28 columns):
GAME_ID              0 non-null int64
TEAM_ID              0 non-null int64
TEAM_ABBREVIATION    0 non-null object
TEAM_CITY            0 non-null object
PLAYER_ID            0 non-null int64
PLAYER_NAME          0 non-null object
START_POSITION       0 non-null object
COMMENT              0 non-null object
MIN                  0 non-null object
FGM                  0 non-null float64
FGA                  0 non-null float64
FG_PCT               0 non-null float64
FG3M                 0 non-null float64
FG3A                 0 non-null float64
FG3_PCT              0 non-null float64
FTM                  0 non-null float64
FTA                  0 non-null float64
FT_PCT               0 non-null float64
OREB                 0 non-null float64
DREB                 0 non-null float64
REB                  0 non-null float64
AST                  0 non-null float64
STL                  0 non-null float64
BLK                  0 non-null float64
TO                   0 non-null float64
PF                   0 non-null float64
PTS                  0 non-null float64
PLUS_MINUS           0 non-null float64
dtypes: float64(19), int64(3), object(6)
memory usage: 0.0+ bytes

Creating DF_Score column based on Draft Kings scoring minus double-double and triple-double bonuses

"Points + 0.5 per 3pt made + 1.25 per rebound + 1.5 per assist + 2 per steals + 2 per block - 0.5 per turnover"

In [93]:
df["DF_SCORE"] = df.PTS + df.FG3M * 0.5 + df.REB * 1.25 + df.AST * 1.5 + df.STL * 2 + df.BLK * 2 - df.TO * 0.5

In [94]:
df = df[["GAME_ID", "TEAM_ID", "TEAM_ABBREVIATION", "PLAYER_ID", "PLAYER_NAME", "DF_SCORE"]]

In [95]:
df2 = df2[["GAME_ID", "GAME_DATE_EST", "HOME_TEAM_ID", "VISITOR_TEAM_ID", "SEASON", "HOME_TEAM_WINS"]]

In [96]:
df3 = pd.merge(df, df2, on='GAME_ID')

In [97]:
df3.head()

Empty DataFrame
Columns: [TEAM_ID, TEAM_ABBREVIATION, PLAYER_ID, PLAYER_NAME, DF_SCORE, GAME_ID, GAME_DATE_EST, HOME_TEAM_ID, VISITOR_TEAM_ID, SEASON, HOME_TEAM_WINS]
Index: []

In [ ]:
df

### 1) Is there a significant difference between player performances at home vs away?

### 2) Is there a